.container {
  display: flex;
  height: 100vh;
  background-color: #143A52;
  color: white;
  font-weight: 300;
}

.resizer {
  width: 4px;
  cursor: col-resize;
  background-color: #aaa;
}

.resizer:hover {
  background-color: #aaa;
}

.fullWidthSection {
  flex: 1; /* take all remaining horizontal space */
  display: flex;
  justify-content: center; /* horizontally center child content like RequestsSection */
  align-items: flex-start; /* optional: start at top */
  padding: 20px;
}

.section{
  width: 100%;
}