.container {
  display: flex;
  height: 100vh;
  background-color: #143A52;
  color: white;
  font-weight: 300;
}

.resizer {
  width: 4px;
  cursor: col-resize;
  background-color: #aaa;
}

.resizer:hover {
  background-color: #aaa;
}

