.body{
  background-color: #143A52;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: "Ancizar Sans", sans-serif;  

  width:500px;
  margin: 180px auto;
  margin-top: 200px;
  padding: 50px;
  background: #CDE3EB;   
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
}

/* .box {
  background: #CDE3EB;
  padding: 80px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  width: 90%;
  border: 2px solid black;
  margin: 0 auto;
} */

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 1rem;
  color: #444;
  margin-bottom: 32px;
}

.actions {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn {
  background-color: #333446;
  color: white;
  padding: 10px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  width: 80px;
}

.btn:hover {
  background-color: #005fa3;
}

.btnSecondary {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  border: 2px solid black;
  width: 80px;
}

.btnSecondary:hover {
  background-color: #e0e0e0;
}